extends layout 

block content 

    h1=title 

    div.window
        p Join the secret club...
        p Type in secret password:

        form(action="" method='POST')
            div.form-group
                input.form-control(
                    type='text',
                    name='membershipPassword',
                )
            button(type='submit') Join...