body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: #00B7FF;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.message-div {
  background-color: blue;
}

.message-author, .message-title {
  font-weight: bold;
}