@font-face {
  font-family: 'MSSansSerif';
  src: url('../fonts/MS\ Sans\ Serif\ 8pt.ttf');
}
:root {
  --font-color: #81CBDA;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: var(--font-color);
  font-family: 'MSSansSerif';
}

a {
  color: #00B7FF;
}

input[type='text'] {
  font-family: 'MSSansSerif';
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.message-div {
  background-color: black;
}

.message-author, .message-title {
  font-weight: bold;
}

.toggle-show-delete {
  
}