@font-face {
  font-family: 'MSSansSerif';
  src: url('../fonts/MS\ Sans\ Serif\ 8pt.ttf');
}
:root {
  --font-color: #81CBDA;
  --bg-color: #0B102D;
}
body {
  display: flex;
  flex-direction: column;

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'MSSansSerif';
  align-items: center;
  margin: 0;
}

a {
  color: #00B7FF;
}

header {
  background-color: var(--font-color);
}

h1 {
  color: var(--bg-color);
}

input[type='text'] {
  font-family: 'MSSansSerif';
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 0;
  border-bottom: 1px solid var(--font-color);
}

input:focus {
  outline: none
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.message-div {
}

.message-author, .message-title {
  font-weight: bold;
}

.toggle-show-delete {
  
}

.window {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}